homeassistant:
  name: Home
  latitude: !secret lat
  longitude: !secret long
  external_url: !secret url
  country: US
  currency: USD
  elevation: 283
  unit_system: us_customary
  time_zone: America/New_York
  customize: !include customize.yaml
  packages: !include_dir_named packages
  media_dirs:
    media: /media
  auth_mfa_modules:  # Setup two factor auth
    - type: totp
      name: Authenticator app
    - type: notify
      message: 'Two Factor Code {}'
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.1.0/24
        - 192.168.2.0/24
        
default_config:
  
http:
  server_port: 8123 # Hard set port
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 172.17.0.0/16
    - 172.30.33.0/24
    - 192.168.2.1


alarm_control_panel:
  - platform: manual
    name: alarm_panel
    arming_time: 0
    code: !secret alarmcode

api:

frontend:
  themes: !include_dir_merge_named themes/
      
lovelace:
  mode: storage
  # Add yaml dashboards
  dashboards:
    lovelace-yaml:
      mode: yaml
      title: House
      icon: mdi:script
      show_in_sidebar: true
      filename: ui-lovelace.yaml

  
#Initial config to move zigbee to main install 
zha:
  database_path: /config/zigbee.db
  device_config:
      00:22:a3:00:00:16:d0:39-1:
          type: 'light'
      00:22:a3:00:00:20:d3:9d-1:
          type: 'light'
logger:
  default: warning

ffmpeg:

# Items loaded elsewhere
recorder: !include recorder.yaml
camera: !include_dir_merge_list cameras/
group: !include groups.yaml
script: !include_dir_merge_named scripts/
zone: !include_dir_merge_list zones/
notify: !include notify.yaml
automation: !include automations.yaml
scene: !include scenes.yaml
