packages:
  light_effects: !include 
    file: light_effects.yaml
    vars:
      devicename: ${name}

wled:      

light:
  - platform: esp32_rmt_led_strip
    chipset: WS2811
    pin: ${pin}
    num_leds: ${length}
    rgb_order: ${color_line}
    name: ${name}
    id: ${name}
    max_refresh_rate: 16ms
    effects:
      - addressable_twinkle:
          name: Twinkle
          twinkle_probability: 25%
          progress_interval: 4ms
      - addressable_flicker:
          name: Dithering lights
          update_interval: 16ms
          intensity: 40%
      - addressable_color_wipe:
          name: Chiefs
          colors:
            - red: 89%
              green: 9%
              blue: 21%
              num_leds: 25
              gradient: true
            - red: 89%
              green: 9%
              blue: 21%
              num_leds: 75
              gradient: true
            - red: 100%
              green: 72%
              blue: 9%
              num_leds: 25
              gradient: true
            - red: 100%
              green: 72%
              blue: 9%
              num_leds: 75
              gradient: true
          add_led_interval: 200ms
          reverse: False
      - addressable_color_wipe:
          name: Jayhawks
          colors:
            - red: 91%
              green: 0%
              blue: 5%
              num_leds: 25
              gradient: true
            - red: 91%
              green: 0%
              blue: 5%
              num_leds: 75
              gradient: true
            - red: 0%
              green: 32%
              blue: 73%
              num_leds: 25
              gradient: true
            - red: 0%
              green: 32%
              blue: 73%
              num_leds: 75
              gradient: true
          add_led_interval: 200ms
          reverse: False
      - addressable_color_wipe:
          name: Christmas stripes
          colors:
            - red: 100%
              green: 0%
              blue: 0%
              num_leds: 50
            - red: 0%
              green: 100%
              blue: 0%
              num_leds: 50
          add_led_interval: 100ms
          reverse: False
      - addressable_color_wipe:
          name: Independence Day
          colors:
            - red: 100%
              green: 0%
              blue: 0%
              num_leds: 20
            - red: 100%
              green: 100%
              blue: 100%
              num_leds: 20
            - red: 0%
              green: 0%
              blue: 100%
              num_leds: 20
          add_led_interval: 33ms
          reverse: false
      - addressable_lambda:
          name: Blue Sparkle
          update_interval: 12ms
          lambda:
            static int state = 0;
      
            if (initial_run){
              state = 0;
      
              it.all() = Color(0,0,255);
            } else {
      
              it.all() = Color(0,0,255);
              for (int i = it.size() / 30; i > 0; i--) {
                int p = rand() % it.size();
                it[p] = Color(255,255,255);
              }
            }
      - addressable_lambda:
          name: Gold Glitter
          update_interval: 12ms
          lambda:
            static int state = 0;
      
            if (initial_run){
              state = 0;
      
              it.all() = Color(218,32,32);
      
              ESP_LOGD("custom", "Gold Glitter");
            } else {
      
              it.all() = Color(218,32,32);
      
              if(state==0){
                int i = rand() % it.size();
                it[i] = Color::WHITE;
                state += 1;
              } else {
                state += 1;
                state = state % 10;
              }
            }
      - addressable_lambda:
          name: Rainbow
          lambda: |-

            if (initial_run) {
              it.all() = Color(0, 0, 0);
            }
            
            uint8_t led_change = 24; //(higher is more change) the difference in hue for each led down the strip
            float speed = 4; //(lower is faster) the speed the first led colour changes at (therefore affecting all)
            unsigned long time = millis() / speed;
            int repetitions = time / 1529;
            uint16_t hue = time - (1529 * repetitions);
            
            for (int i = 0; i < it.size(); i++) {
              if (hue >= 0 && hue < 255) {
                uint8_t green = hue;
                it[i] = Color(255, green, 0);
              } else if (hue >= 255 && hue < 510) {
                uint8_t red = hue - 255;
                it[i] = Color((255 - red), 255, 0);
              } else if (hue >= 510 && hue < 765) {
                uint8_t blue = hue - 510;
                it[i] = Color(0, 255, blue);
              } else if (hue >= 765 && hue < 1020) {
                uint8_t green = hue - 765;
                it[i] = Color(0, (255 - green), 255);
              } else if (hue >= 1020 && hue < 1275) {
                uint8_t red = hue - 1020;
                it[i] = Color(red, 0, 255);
              } else if (hue >= 1275 && hue < 1530) {
                uint8_t blue = hue - 1275;
                it[i] = Color(255, 0, (255 - blue));
              }
              hue+=led_change;
              if (hue >= 1530) {
                hue-=1530;
              }
            }

