#external_components:
#  - source: github://esphome/esphome@94befe126bc952785994ddf8dcfd15e9c3c3ff23
#    components: [ remote_base, remote_receiver, remote_transmitter, esp32_rmt, esp32_rmt_led_strip ]
#    refresh: 5min



packages:
  string_light: !include 
    file: packages/add_light.yaml
    vars:
      pin: GPIO37
      length: 476
      color_line: RGB
      name: fy_string
  yard_light: !include 
    file: packages/add_light.yaml
    vars:
      pin: GPIO36
      length: 1200
      color_line: RBG
      name: yard_string
  string_light_part: !include 
    file: packages/partition_light.yaml
    vars:
      name: front_eave
      parent: fy_string
      start: 396
      end: 475
  string_light_part2: !include 
    file: packages/partition_light.yaml
    vars:
      name: front_window
      parent: fy_string
      start: 0
      end: 395
  string_light_yard: !include 
    file: packages/partition_light.yaml
    vars:
      name: garden_lights
      parent: yard_string
      start: 1
      end: 47
  string_fiber_yard: !include 
    file: packages/partition_light.yaml
    vars:
      name: garden_fiber
      parent: yard_string
      start: 49
      end: 49
  string_tree: !include 
    file: packages/partition_light.yaml
    vars:
      name: tree_string
      parent: yard_string
      start: 50
      end: 69
  string_tree_meteoe: !include 
    file: packages/partition_light.yaml
    vars:
      name: tree_meteor
      parent: yard_string
      start: 70
      end: 79
      

light:
  - id: !extend yard_string
    use_dma: true
    use_psram: false
  - id: !extend fy_string
    use_dma: false
    use_psram: false
  - id: !extend tree_string
    segments:
      - id: yard_string
        from: 80
        to: 99
      - id: yard_string
        from: 110
        to: 129
      - id: yard_string
        from: 140
        to: 159
      - id: yard_string
        from: 170
        to: 189
      - id: yard_string
        from: 200
        to: 219
      - id: yard_string
        from: 230
        to: 249
      - id: yard_string
        from: 260
        to: 279
      - id: yard_string
        from: 290
        to: 309
      - id: yard_string
        from: 320
        to: 339
      - id: yard_string
        from: 350
        to: 1199
  - id: !extend tree_meteor
    segments:
      - id: yard_string
        from: 100
        to: 109
      - id: yard_string
        from: 130
        to: 139
      - id: yard_string
        from: 160
        to: 169
      - id: yard_string
        from: 190
        to: 199
      - id: yard_string
        from: 220
        to: 229
      - id: yard_string
        from: 250
        to: 259
      - id: yard_string
        from: 280
        to: 289
      - id: yard_string
        from: 310
        to: 319
      - id: yard_string
        from: 340
        to: 349

esphome:
  name: lr-bt-sns
  friendly_name: lr-bt-sns
  platformio_options:
    board_build.flash_mode: dio
    board_build.mcu: esp32s3

esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  framework:
    type: esp-idf

ethernet:
  type: W5500
  clk_pin: GPIO11
  mosi_pin: GPIO9
  miso_pin: GPIO10
  cs_pin: GPIO12
  interrupt_pin: GPIO46
  reset_pin: GPIO3
  clock_speed: 25Mhz

# Enable logging
logger:
  hardware_uart: USB_CDC

# Enable Home Assistant API
api:
  encryption:
    key: !secret ENC_KEY

ota:
  platform: esphome
  password: !secret OTA_PW
 
time:
  - platform: homeassistant
    id: homeassistant_time
    on_time:
      - seconds: 0
        minutes: 0
        hours: 4
        then:
          - button.press: lrbtsnsreboot

button:
  - platform: restart
    name: "lrbtsnsreboot"
    id: "lrbtsnsreboot"
  
i2c:
   sda: GPIO05
   scl: GPIO04
   id: i2c_channel
  
esp32_ble_tracker:

sensor:
  - platform: bme280_i2c
    temperature:
      name: "lr-bt-sns Temperature"
      oversampling: 16x
    pressure:
      name: "lr-bt-sns Pressure"
    humidity:
      name: "lr-bt-sns Humidity"
    address: 0x76
    update_interval: 60s      
    
  - platform: xiaomi_hhccjcy01
    mac_address: 'C4:7C:8D:63:F7:31'
    temperature:
      name: "Hydrangea Temperature"
    moisture:
      name: "Hydrangea Moisture"
    illuminance:
      name: "Hydrangea Illuminance"
    conductivity:
      name: "Hydrangea Soil Conductivity"
    battery_level:
      name: "Hydrangea Battery Level"
  - platform: xiaomi_hhccjcy01
    mac_address: '5C:85:7E:12:D5:A6'
    temperature:
      name: "4 Temperature"
    moisture:
      name: "4 Moisture"
    illuminance:
      name: "4 Illuminance"
    conductivity:
      name: "4 Soil Conductivity"
  - platform: xiaomi_hhccjcy01
    mac_address: '5C:85:7E:12:D5:2E'
    temperature:
      name: "2 Temperature"
    moisture:
      name: "2 Moisture"
    illuminance:
      name: "2 Illuminance"
    conductivity:
      name: "2 Soil Conductivity"
  - platform: xiaomi_hhccjcy01
    mac_address: '5C:85:7E:12:D5:40'
    temperature:
      name: "3 Temperature"
    moisture:
      name: "3 Moisture"
    illuminance:
      name: "3 Illuminance"
    conductivity:
      name: "3 Soil Conductivity"
      

