external_components:
  # New driver for Esphome 2024.12.0 (with esp-idf 5.x)
  - source: github://pr#7770 # RMT driver, remove rmt_channel when using esp-idf
    components: [ remote_base, remote_receiver, remote_transmitter, esp32_rmt, esp32_rmt_led_strip ]
    refresh: 0s


packages:
  string_light: !include 
    file: packages/add_light.yaml
    vars:
      pin: GPIO37
      length: 476
      color_line: RGB
      name: fy_string
  yard_light: !include 
    file: packages/add_light.yaml
    vars:
      pin: GPIO36
      length: 360
      color_line: RBG
      name: yard_string
  string_light_part: !include 
    file: packages/partition_light.yaml
    vars:
      name: front_eave
      parent: fy_string
      start: 396
      end: 475
  string_light_part2: !include 
    file: packages/partition_light.yaml
    vars:
      name: front_window
      parent: fy_string
      start: 0
      end: 395
  string_light_yard: !include 
    file: packages/partition_light.yaml
    vars:
      name: garden_lights
      parent: yard_string
      start: 1
      end: 47
  string_fiber_yard: !include 
    file: packages/partition_light.yaml
    vars:
      name: garden_fiber
      parent: yard_string
      start: 48
      end: 48
  string_tree: !include 
    file: packages/partition_light.yaml
    vars:
      name: tree_string
      parent: yard_string
      start: 49
      end: 68
  string_tree_meteoe: !include 
    file: packages/partition_light.yaml
    vars:
      name: tree_meteor
      parent: yard_string
      start: 69
      end: 78
      

light:
  - id: !extend tree_string
    segments:
      - id: yard_string
        from: 79
        to: 98
    segments:
      - id: yard_string
        from: 109
        to: 128
    segments:
      - id: yard_string
        from: 139
        to: 158
  - id: !extend tree_meteor
    segments:
      - id: yard_string
        from: 99
        to: 108
    segments:
      - id: yard_string
        from: 129
        to: 138
    segments:
      - id: yard_string
        from: 159
        to: 168


esphome:
  name: lr-bt-sns
  friendly_name: lr-bt-sns
  platformio_options:
    board_build.flash_mode: dio
    board_build.mcu: esp32s3

esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  framework:
    type: esp-idf

ethernet:
  type: W5500
  clk_pin: GPIO11
  mosi_pin: GPIO9
  miso_pin: GPIO10
  cs_pin: GPIO12
  interrupt_pin: GPIO46
  reset_pin: GPIO3
  clock_speed: 25Mhz

# Enable logging
logger:
  hardware_uart: USB_CDC

# Enable Home Assistant API
api:
  encryption:
    key: !secret ENC_KEY

ota:
  platform: esphome
  password: !secret OTA_PW
 
time:
  - platform: homeassistant
    id: homeassistant_time
    on_time:
      - seconds: 0
        minutes: 0
        hours: 4
        then:
          - button.press: lrbtsnsreboot

button:
  - platform: restart
    name: "lrbtsnsreboot"
    id: "lrbtsnsreboot"
  
i2c:
   sda: GPIO05
   scl: GPIO04
   id: i2c_channel
  
esp32_ble_tracker:

sensor:
  - platform: bme280_i2c
    temperature:
      name: "lr-bt-sns Temperature"
      oversampling: 16x
    pressure:
      name: "lr-bt-sns Pressure"
    humidity:
      name: "lr-bt-sns Humidity"
    address: 0x76
    update_interval: 60s      
    
  - platform: xiaomi_hhccjcy01
    mac_address: 'C4:7C:8D:63:F7:31'
    temperature:
      name: "Hydrangea Temperature"
    moisture:
      name: "Hydrangea Moisture"
    illuminance:
      name: "Hydrangea Illuminance"
    conductivity:
      name: "Hydrangea Soil Conductivity"
    battery_level:
      name: "Hydrangea Battery Level"
  - platform: xiaomi_hhccjcy01
    mac_address: '5C:85:7E:12:D5:A6'
    temperature:
      name: "4 Temperature"
    moisture:
      name: "4 Moisture"
    illuminance:
      name: "4 Illuminance"
    conductivity:
      name: "4 Soil Conductivity"
  - platform: xiaomi_hhccjcy01
    mac_address: '5C:85:7E:12:D5:2E'
    temperature:
      name: "2 Temperature"
    moisture:
      name: "2 Moisture"
    illuminance:
      name: "2 Illuminance"
    conductivity:
      name: "2 Soil Conductivity"
  - platform: xiaomi_hhccjcy01
    mac_address: '5C:85:7E:12:D5:40'
    temperature:
      name: "3 Temperature"
    moisture:
      name: "3 Moisture"
    illuminance:
      name: "3 Illuminance"
    conductivity:
      name: "3 Soil Conductivity"
      

