external_components:
  - source: github://esphome/esphome@94befe126bc952785994ddf8dcfd15e9c3c3ff23
    components: [ remote_base, remote_receiver, remote_transmitter, esp32_rmt, esp32_rmt_led_strip ]
    refresh: 5min

packages:
  string_light: !include 
    file: packages/add_light.yaml
    vars:
      pin: GPIO16
      length: 100
      color_line: RGB
      name: hall_ban


esphome:
  name: uhall-ban
  friendly_name: Upper Hallway Banister
  platformio_options:
    board_build.flash_mode: dio
    board_build.mcu: esp32s3

esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  framework:
    type: esp-idf


wifi:
  ssid: !secret AP
  password: !secret APPW
  

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret ENC_KEY

ota:
  platform: esphome
  password: !secret OTA_PW
 
esp32_ble_tracker:
bluetooth_proxy:
  
