esphome:
  name: xmas-tree
  friendly_name: xmas-tree
  platformio_options:
    board_build.flash_mode: dio
    board_build.mcu: esp32s3

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf


wifi:
  ssid: !secret AP
  password: !secret APPW
  

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret ENC_KEY

ota:
  platform: esphome
  password: !secret OTA_PW

packages:
  string_light: !include 
    file: packages/add_light.yaml
    vars:
      pin: GPIO16
      length: 190
      color_line: GBR
      name: xmastree 
  
  fiber: !include 
    file: packages/partition_light.yaml
    vars:
      name: fiber_optic_tree
      parent: xmastree
      start: 0
      end: 20

  tree_star: !include 
    file: packages/partition_light.yaml
    vars:
      name: tree_star
      parent: xmastree
      start: 144
      end: 189

  tree_body: !include 
    file: packages/partition_light.yaml
    vars:
      name: tree_body
      parent: xmastree
      start: 21
      end: 70
      

light:
  - id: !extend tree_body
    segments:
      - id: xmastree
        from: 91
        to: 143
  - id: !extend fiber_optic_tree
    segments:
      - id: xmastree
        from: 71
        to: 91

      
